<section @fade class="text-dark" id="community" >
  <div class="cover-page"></div>
  <div class="content pl-4 pt-5">

    <h2>We and the community</h2>
    <p>In terms of the community, we have collaborated with numerous Non Goverment Organizations to provide medical services at  a very subsidize rate. Some of which includes</p>

    <div class="row">

      <div class="gallery-box col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
          <div class="gallery col">
            <div class="cover"></div>
            <img src="/assets/images/communities/surgery_thumbnail.jpg" class="gallery-pic img-fluid" alt="Responsive image">
            <span class="gallery-text">Free Surgery on events</span>
          </div>
      </div>

      <div class=" gallery-box col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
        <div class="gallery col">
          <div class="cover-1"></div>
           <!-- <div style="height: 400px; background-color: #ccc;" ></div> -->
           <img src="/assets/images/communities/skill_thumbnail.jpg" class="gallery-pic img-fluid" alt="Responsive image">
           <span class="gallery-text">Skill Aquisition</span>
        </div>
      </div>
      <div class=" gallery-box col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
        <div class="gallery col">
          <div class="cover-2"></div>
          <!-- <div style="height: 400px; background-color: #ccc;" ></div> -->
          <img src="/assets/images/communities/faith_thumbnail.jpg" class="gallery-pic img-fluid" alt="Responsive image">
          <span class="gallery-text">Build your faith</span>
        </div>
      </div>
      <div class=" gallery-box col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
          <div class="gallery col">
            <div class="cover-3"></div>
            <!-- <div style="height: 400px; background-color: #ccc;" ></div> -->
            <img src="/assets/images/communities/counsel_thumbnail.jpg" class="gallery-pic img-fluid" alt="Responsive image">
            <span class="gallery-text">Free health Counselling</span>
          </div>
      </div>
    </div>

</div>
</section>
