<div @fade class="text-dark">
  <div class="cover-page-2"></div>
  <div class="content p-4">

      <h2>What we are all about</h2>
      <div class="row my-3">
        <div class="col-lg-6">
          <p class="lead large-2rem" >
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut officia velit cupiditate expedita quasi itaque id asperiores maxime laboriosam omnis dolorem laudantium, ipsum nostrum illum, enim vero accusantium temporibus molestiae.
          </p>
          <p class="lead large-2rem" >
           Incidunt excepturi ad sunt voluptatum tenetur itaque. Corrupti, maiores! Animi, harum nam!Quaerat harum saepe fuga ipsa veritatis esse fugit possimus, temporibus facilis quo, accusantium debitis! Similique facere nesciunt architecto beatae in blanditiis molestiae, obcaecati magnam ut autem, pariatur harum, culpa illo.
          </p>
        </div>
        <div class="col-lg-6">
            <img src="/assets/images/bg4.jpg" class="img-fluid" alt="Responsive image" >
        </div>
      </div>

      <h2>Our Services</h2>
      <div class="row my-3">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
          <div class="icon">
              <i-feather name="heart" class="bigger fill-green" ></i-feather>
              <a target="_blank" href="/icons/set/pregnant">Pregnant icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repudiandae repellat iste dolore dignissimos odio soluta obcaecati quibusdam hic? Perferendis repudiandae sed saepe possimus quia! Suscipit asperiores quos ut error!
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
          <div class="icon">
              <i-feather name="truck" class="bigger fill-green" ></i-feather>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repudiandae repellat iste dolore dignissimos odio soluta obcaecati quibusdam hic? Perferendis repudiandae sed saepe possimus quia! Suscipit asperiores quos ut error!
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
          <div class="icon">
              <i-feather name="gift" class="bigger fill-green" ></i-feather>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repudiandae repellat iste dolore dignissimos odio soluta obcaecati quibusdam hic? Perferendis repudiandae sed saepe possimus quia! Suscipit asperiores quos ut error!
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
          <div class="icon">
              <i-feather name="heart" class="bigger fill-green" ></i-feather>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repudiandae repellat iste dolore dignissimos odio soluta obcaecati quibusdam hic? Perferendis repudiandae sed saepe possimus quia! Suscipit asperiores quos ut error!
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
          <div class="icon">
              <i-feather name="truck" class="bigger fill-green" ></i-feather>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repudiandae repellat iste dolore dignissimos odio soluta obcaecati quibusdam hic? Perferendis repudiandae sed saepe possimus quia! Suscipit asperiores quos ut error!
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
          <div class="icon">
              <i-feather name="gift" class="bigger fill-green" ></i-feather>
          </div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repudiandae repellat iste dolore dignissimos odio soluta obcaecati quibusdam hic? Perferendis repudiandae sed saepe possimus quia! Suscipit asperiores quos ut error!
          </div>
        </div>

      </div>


  </div>
</div>
