<section @fade class="text-dark" id="aboutus">
  <div class="cover-page-2"></div>
  <div class="content p-4">

      <h2>What we are all about</h2>
      <div class="row my-3">
        <div class="col-lg-6">
          <p class="lead large-2rem" >
            In the of heart bonny island, we provide quality medical service, exhibiting standard practises to improve the livelihood of the community. With more than 15 years of experience we are the number one spot for health care consultancy.          </p>
          <p class="lead large-2rem" >
            Our aim is simple; provide healing and restoration to the people while positively impacting their lives.          </p>
        </div>
        <div class="col-lg-6">
            <img src="/assets/images/bg4.jpg" class="img-fluid" alt="Responsive image" >
        </div>
      </div>

      <h2>Our Services</h2>
      <section class="row my-3" id="services">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
            In patient and out patient service
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Immunization
           </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
            Family Planning
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
            Retro-viral treatment
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
            Tuberculosis, burly ulcer and leprosy treatment
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Obstetrics and Gynaecology services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Obstetrics and Gynaecology services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Pap smear services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Hysteroscopy and Laparoscopy services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Ambulance services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Basic surgical services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Home visit
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Neonatal incubator
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Laboratory services
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Ultra sound scan
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              ECG
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-3">
            <div class="icon">
                <i-feather name="circle"></i-feather>
            </div>
          <div class="text">
              Fertility treatment
          </div>
        </div>

      </section>


  </div>
</section>
