<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="position: relative;">
      <img src="/assets/images/communities/surgery.jpg" class="img-fluid" alt="">
      <div class="caption">
        <div class="cover"></div>
        <p class="" >
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid sunt, quo id autem totam necessitatibus quas iste deserunt facere. Praesentium magnam voluptatem recusandae rem, reprehenderit cum nemo voluptates reiciendis doloribus?
        </p>
      </div>
    </div>
  </div>
</div>
